<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <title>ONET</title>
  <link rel="icon" href="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png">
  <meta name="description" content="overview &amp; stats" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/89298508/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/cb6f4cf5/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/form.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/89298508/fonts/fonts.googleapis.com.css" />
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/sweet.css">
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/materializeINES.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/taromero/swal-forms/master/swal-forms.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <script src="https://cdn.rawgit.com/taromero/swal-forms/master/live-demo/sweet-alert.js"></script>
  <script src="https://cdn.rawgit.com/taromero/swal-forms/master/swal-forms.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace-extra.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace-elements.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace.min.js"></script>
</head>

<body class="no-skin">
  <div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
      try {
        ace.settings.check('navbar', 'fixed')
      } catch (e) {}
    </script>

    <div class="navbar-container" id="navbar-container">
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

      <div class="navbar-header pull-left">
        <a href="/home" class="navbar-brand">
                    <small>
                            <img src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png" width="70" height="70"/>
                    </small>
                </a>
      </div>
      <div class="navbar-header pull-left">
        <small>
                      <MARQUEE WIDTH=1000 HEIGHT=100% behavior="alternate">
  <font size="3" color="red">  <h1> <span class="marquee"> ORGANISATION NATIONALE DE L'ENFANCE TUNISIENNE </span></h1></font>
                      </MARQUEE>
                    </small>
      </div>
      <div class="pull-right">
        <a href="/signup">
                    <img src="https://rawgit.com/Ayness/Onet/master/images/signUp.png" width="150" height="70" />
                </a>
      </div>
    </div>
    <!-- /.navbar-container -->
  </div>

  <div class="main-container" id="main-container">
    <script type="text/javascript">
      try {
        ace.settings.check('main-container', 'fixed')
      } catch (e) {}
    </script>

    <div id="sidebar" class="sidebar                  responsive">
      <script type="text/javascript">
        try {
          ace.settings.check('sidebar', 'fixed')
        } catch (e) {}
      </script>

      <br>

      <!-- signup div -->
      <div class="login-page">
        <div class="form">
          <!-- LOGIN FORM -->
          <form class="login-form" action="/" method="post">
            <input type="text" placeholder="Email" name="email" />
            <input type="password" placeholder="Mot De Passe" name="password" />
            <button type="submit">Se Connecter</button>
          </form>
        </div>
      </div>
      <div>
        <img class="materialboxed" data-caption="ORGANISATION NATIONALE DE L'ENFANCE TUNISIENNE" width="190" src="https://rawgit.com/Ayness/Onet/master/images/17523418_1445042545548123_3435822997402926687_n.jpg">
      </div>
      <div class="w3-content w3-section" style="max-width:500px">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/16508804_10210887172486789_6521258900098156613_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/17424813_1896948157184951_1643972327818026501_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/13221531_1143323192386728_4364656795041133984_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/17903666_1464341023618275_7803879645754847932_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18300888_1491007034285007_7301623349512661743_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18528066_1506634972722213_1715750680215753112_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18664236_1509333265785717_3577570800882301313_n.jpg" style="width:100%">
        <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/Bureau%20National.jpg" style="width:100%">
      </div>
      <script>
        var myIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {
            myIndex = 1
          }
          x[myIndex - 1].style.display = "block";
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
      </script>

      <script type="text/javascript">
        try {
          ace.settings.check('sidebar', 'collapsed')
        } catch (e) {}
      </script>
    </div>

    <div class="main-content">
      <div class="main-content-inner">
        <!-- News Section -->
        <section>
          <div class="header">
            <div class="circle"></div>
            <h1> News </h1>
          </div>
          <div class="line"></div>
          <div id="content">
          </div>
        </section>
        <!-- Internship Section -->
        <section>
          <div class="headerInternship">
            <div class="circle"></div>
            <h1> Stages </h1>
          </div>
          <div class="line"></div>
          <div id="contentInternship">
          </div>
        </section>
        <!-- Event Section -->
        <section>
          <div class="headerEvent">
            <div class="circle"></div>
            <h1> Evénements </h1>
          </div>
          <div class="line"></div>
          <div id="contentEvent">
          </div>
        </section>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>


        <div class="footer">
          <div class="footer-inner">
            <div class="footer-content">
              <span class="bigger-120">
                            <span class="blue bolder">ONET</span> &copy; 2016-2017
              </span>

              &nbsp; &nbsp;
              <span class="action-buttons">
                            <a href="https://twitter.com/onettunisie">
                                    <i class="ace-icon fa fa-twitter-square blue bigger-150"></i>
                            </a>

                            <a href="https://www.facebook.com/onet.tn?ref=br_rs">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

                            <a href="http://www.onet-tunisie.com">
                                    <img src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png" width="20" height="20" style="margin-top:-5px"/>
                            </a>
                    </span>
            </div>
          </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
      </div>
      <!-- /.main-container -->

      <%
            if (message && message.length > 0) { %>
        <script>
          // var $toastContent = $('<span><%= message %></span>');
          Materialize.toast('<span><%= message %></span>', 5000);
        </script>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <%
            } %>
          <script>
            $(document).ready(function() {

              $.ajax({
                url: "http://localhost:8081/news",
                type: "GET",
                Accept: "application/json",
                success: function(resultdata) {
                  console.log(resultdata);
                  $.each(resultdata, function(k, v) {

                    var title = v.title;
                    var description = v.description;
                    var content = v.content;
                    var ts = v.ts;
                    var tabTime = ts.split(" ");
                    console.log(tabTime[0]);
                    var contentdiv = document.getElementById("content");
                    var object = document.createElement("div");
                    object.classList.add('object');
                    var datea = document.createElement("div");
                    datea.classList.add('date');
                    var circle = document.createElement("div");
                    circle.classList.add('circle');
                    var context = document.createElement("div");
                    context.classList.add('context');
                    datea.innerHTML = tabTime[0] + "<br /><br />" + tabTime[1];
                    context.innerHTML = "<b><h4><font color=#e33d31>" + title + "</font></b></h4><br /><br /><div class='bandeau'>" + content + "</div>";
                    object.appendChild(datea);
                    object.appendChild(circle);
                    object.appendChild(context);
                    contentdiv.appendChild(object);


                  });
                }


              });


            });
          </script>
          <script>
            $(document).ready(function() {

              $.ajax({
                url: "http://localhost:8081/events",
                type: "GET",
                Accept: "application/json",
                success: function(resultdata) {
                  console.log(resultdata);
                  $.each(resultdata, function(k, v) {

                    var title = v.title;
                    var time = v.time;
                    var date = v.date;
                    var address = v.address;
                    var ts = v.ts;
                    var about = v.about;
                    var tabTime = ts.split(" ");

                    var contentdiv = document.getElementById("contentEvent");
                    var object = document.createElement("div");
                    object.classList.add('object');
                    var datea = document.createElement("div");
                    datea.classList.add('date');
                    var circle = document.createElement("div");
                    circle.classList.add('circle');
                    var context = document.createElement("div");
                    context.classList.add('context');
                    datea.innerHTML = tabTime[0] + "<br /><br />" + tabTime[1];
                    context.innerHTML = "<b><h4><font color=#e33d31>" + title + "</font></b></h4><br /><div class='bandeau'>Le " + date + " à " + time + "</br> à " + address + "</br></br><b> A propos : </b></br>" + about + "</div>";
                    object.appendChild(datea);
                    object.appendChild(circle);
                    object.appendChild(context);
                    contentdiv.appendChild(object);


                  });
                }


              });


            });
          </script>

          <script>
            $(document).ready(function() {
              $.ajax({
                url: "http://localhost:8081/internships",
                type: "GET",
                Accept: "application/json",
                success: function(resultdata) {
                  $.each(resultdata, function(k, v) {
                    var type = v.type;
                    var price = v.price;
                    var beginDate = v.beginDate;
                    var endDate = v.endDate;
                    var supervisor = v.firstName + " " + v.lastName;
                    var address = v.address;
                    var ts = v.ts;
                    var tabTime = ts.split(" ");
                    var typo;
                    if (type == 1) {
                      typo = "Formation";
                    } else if (type == 2) {
                      typo = "Cours de formation disciplinaire"
                    } else if (type == 3) {
                      typo = "Cours de spécialisation 1"
                    } else if (type == 4) {
                      typo = "Cours de spécialisation 2"
                    } else if (type == 5) {
                      typo = "Cours de formation en gestionnaire"
                    } else if (type == 6) {
                      typo = "Cours de formation encadrement"
                    }

                    var contentdiv = document.getElementById("contentInternship");
                    var object = document.createElement("div");
                    object.classList.add('object');
                    var datea = document.createElement("div");
                    datea.classList.add('date');
                    var circle = document.createElement("div");
                    circle.classList.add('circle');
                    var context = document.createElement("div");
                    context.classList.add('context');
                    datea.innerHTML = tabTime[0] + "<br /><br />" + tabTime[1];
                    context.innerHTML = "<b><h4><font color=#e33d31>" + typo + "</font></b></h4><br /><div class='bandeau'>Du " + beginDate + " au " + endDate + " </br> à " + address + "</br> Le Prix de ce stage : " + price +
                      " DT</br> Encadré par : " + supervisor + "</div>";
                    object.appendChild(datea);
                    object.appendChild(circle);
                    object.appendChild(context);
                    contentdiv.appendChild(object);

                  });
                }


              });


            });
          </script>
</body>

</html>
